.navbar{
display:flex;
align-items:center;
justify-content:space-between;
padding:16px 40px;
background:black;
color:white;
position:sticky;
top:0;
z-index:10;
}

.logo{
font-size:22px;
font-weight:bold;
color:#ff3f6c;
}

.nav-links{
display:flex;
gap:25px;
}

.nav-links a{
cursor:pointer;
}

.search{
width:300px;
padding:8px;
border-radius:6px;
border:none;
}

.nav-icons{
display:flex;
gap:18px;
font-size:20px;
cursor:pointer;
}